@model WikiHash.Models.Articles.ArticleViewModel
@{
    ViewBag.Title = "Edit: " + Model.Title;
    var framesCounter = 0;
}
<div class="article-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="contents">
                    CONTENTS:
                    <ol id="contents-list">
                    </ol>
                </div>
                <button id="save-changes-button" type="button" class="btn btn-primary save-changes-button">Save Changes</button>
                <button id="new-section-button" type="button" class="btn btn-secondary new-section-button">New Section</button>
            </div>
            <div class="col-10 content-body">
                <header>
                    <div class="article-title-container">
                        <h1 id="title">@Model.Title</h1>
                    </div>
                </header>
                <article>
                    @foreach (var bodySection in Model.Body.Sections)
                    {
                        <section>
                            <h3 id="@WikiHash.Models.TitleFunctions.GenerateLink(bodySection.Title)"><input type="text" class="edit-input underlined" value="@bodySection.Title" /></h3>
                            <div class="section-edit-buttons noselect">
                                <span class="fa fa-caret-up" aria-hidden="true"></span>
                                <span class="fa fa-caret-down" aria-hidden="true"></span>
                                <span class="fa fa-trash remove-button" aria-hidden="true"></span>
                            </div>

                            <div class="row">
                                @foreach (var frame in bodySection.Frames)
                                {
                                    <div contentFrame id="Frame-@framesCounter" class="col@{@WikiHash.Models.Articles.Bodies.FrameWidthParser.ToBootstrapString(frame.Width)}"
                                         data-width="@{@WikiHash.Models.Articles.Bodies.FrameWidthParser.ToString(frame.Width)}">
                                        <div class="content-frame content-frame-edit">

                                            <div>@Html.Raw(frame.Content)</div>

                                            <div class="content-frame-edit-buttons noselect">
                                                <span class="fa fa-caret-up" aria-hidden="true"></span>
                                                <span class="fa fa-caret-down" aria-hidden="true"></span>
                                                <span class="fa fa-pencil" aria-hidden="true"
                                                      data-toggle="modal" data-target="#edit-frame-dialog"></span>
                                            </div>
                                        </div>
                                    </div>

                                    framesCounter++;
                                }

                                <div contentFrame newContentFrame class="col noselect">
                                    <div class="content-frame content-frame-edit-add">
                                        <span class="fa fa-plus" aria-hidden="true"></span>
                                    </div>
                                    <div class="content-frame-edit-buttons">
                                        <span class="fa fa-caret-up" aria-hidden="true"></span>
                                        <span class="fa fa-caret-down" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }

                    <div id="new-section-adding-place"></div>
                </article>
            </div>
        </div>
    </div>
</div>

<!--EDITOR DIALOG-->
@Html.Partial("_EditorDialogPartial")

<!--ALERTS-->
<div class="alerts-container">
    <div id="saved-alert" style="display: none;" class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close">&times;</button>
        <strong>Saved!</strong> Article has been saved successfully.
    </div>
    <div id="save-error-alert" style="display: none;" class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close">&times;</button>
        <strong>Server side error!</strong> Article has not been saved.
    </div>
    <div id="connection-error-alert" style="display: none;" class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close">&times;</button>
        <strong>Connection error!</strong> Article has not been saved.
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/edit")
<script>
        FramesCounter = @framesCounter;

        var quill = new Quill("#quill", {
            theme: "snow",
            modules: {
                toolbar: toolbarOptions
            }
        });

        $("[contentFrame]:not([newContentFrame]):not(:has(media))").each(function () {
            var frame = getContentElement($(this)).get(0);
            var editor = new Quill(frame);
            editor.enable(false);
        });
    </script>
}
