@model WikiHash.Models.Articles.ArticleViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Tags = Model.Body.MetaData.Tags;
}
<div class="article-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="contents">
                    CONTENTS:
                    <ol>
                        @foreach (var bodySection in Model.Body.Sections)
                        {
                            <li><a data-slide="true" href="#@WikiHash.Models.TitleFunctions.GenerateLink(bodySection.Title)">@bodySection.Title</a></li>
                        }
                    </ol>
                </div>
            </div>
            <div class="col-10 content-body">
                <header>
                    <div class="article-title-container">
                        <h1 class="underlined">@Model.Title</h1>
                        <a href="@Url.Action("Edit", "Edit", Model.Link)" class="fa fa-pencil edit-button" aria-hidden="true"></a>
                    </div>
                </header>
                <article>
                    @foreach (var bodySection in Model.Body.Sections)
                    {
                        <section>
                            <h3 id="@WikiHash.Models.TitleFunctions.GenerateLink(bodySection.Title)" class="underlined">@bodySection.Title </h3>

                            <div class="row">
                                @foreach (var frame in bodySection.Frames)
                                {
                                    <div class="col@{@WikiHash.Models.Articles.Bodies.FrameWidthParser.ToBootstrapString(frame.Width)}">
                                        <div class="content-frame">
                                            @Html.Raw(frame.Content)
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    }
                </article>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var containers = $("div.content-frame:not(:has(media))");
        var editors = Array.from(containers).map(function (container) {
            var editor = new Quill(container);
            editor.enable(false);
        });
    </script>
}