@model WikiHash.Models.Articles.ArticleViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Tags = Model.Body.MetaData.Tags;
}
<div class="article-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                <div class="contents-desktop d-none d-xl-block">
                    CONTENTS:
                    <ol>
                        @foreach (var bodySection in Model.Body.Sections)
                        {
                            <li><a data-slide="true" href="#@WikiHash.Models.TitleFunctions.GenerateLink(bodySection.Title)">@bodySection.Title</a></li>
                        }
                    </ol>
                </div>
                <div class="contents-mobile noselect d-xl-none">
                    CONTENTS <span class="fa fa-caret-left" aria-hidden="true"></span>
                </div>
                <div class="contents-mobile-container d-xl-none">
                    <ol>
                        @foreach (var bodySection in Model.Body.Sections)
                        {
                            <li><a data-slide="true" href="#@WikiHash.Models.TitleFunctions.GenerateLink(bodySection.Title)">@bodySection.Title</a></li>
                        }
                    </ol>
                </div>
            </div>
            <div class="col content-body">
                <header>
                    <div class="article-title-container">
                        <h1 class="underlined">@Model.Title</h1>
                        <a href="@Url.Action("Edit", "Edit", Model.Link)" class="fa fa-pencil edit-button" aria-hidden="true"></a>
                        <a href="/History/Index/@Model.Link" class="fa fa-history history-button" aria-hidden="true"></a>
                    </div>
                </header>
                <article>
                    @foreach (var bodySection in Model.Body.Sections)
                    {
                        <section>
                            <h3 id="@WikiHash.Models.TitleFunctions.GenerateLink(bodySection.Title)" class="underlined">@bodySection.Title </h3>

                            <div class="row">
                                @foreach (var frame in bodySection.Frames)
                                {
                                    <div class="col-lg@{@WikiHash.Models.Articles.Bodies.FrameWidthParser.ToBootstrapString(frame.Width)}">
                                        <div class="content-frame"
                                             type="@WikiHash.Models.Articles.Bodies.ContentTypeParser.ToString(frame.ContentType)"
                                             content="@frame.Content">
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    }
                </article>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        loadTexts();
    </script>
}