<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Configuration.WebsiteName</title>
    @if (ViewBag.Tags != null)
    {
        <meta name="keywords" content="@ViewBag.Tags">
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light noselect">
        <a class="navbar-brand" href="">@Configuration.WebsiteName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Explore", "Medias")">Explorer</a>
                        <a class="dropdown-item" href="@Url.Action("New", "Medias")">Add</a>
                    </div>
                </li>
            </ul>
            <div class="text-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav-item dropdown login-panel">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user-circle" aria-hidden="true"></span> @User.Identity.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @using (Html.BeginForm("Logoff", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="dropdown-item">Logout</button>
                            }

                        </div>
                    </div>
                }
                else
                {
                    <a class="nav-link login-panel" href="@Url.Action("Login", "Account")"><span class="fa fa-user-circle" aria-hidden="true"></span> Login</a>
                }
            </div>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>Powered by <a href="https://github.com/piter10p/WikiHash">WikiHash <span class="fa fa-github" aria-hidden="true"></span></a></p>
    </footer>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
